*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 70%;
  box-sizing: border-box;
}

body {
  line-height: 1.4;

}

.container {
  display: grid;
  grid-template-rows: 10vh 80vh repeat(4, min-content);
  grid-template-columns: repeat(6, minmax(min-content, 25rem));
  //position: relative;
}
.headers {
  display: flex;
  background-color: rgba(245, 245, 245, 0.658);
  grid-column: 1/-1;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid goldenrod;
}
.title {
  font-size: 2rem;
  font-family: cursive;
  font-weight: 600;
  color: goldenrod;
}
.nav {
  &_list {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  &-items {
    margin: 0 2.5rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: goldenrod;
    }
  }
}
.icons {
  display: flex;
  padding: 0 3rem;
  //position: relative;
  // position: absolute;
}
.i {
  margin: 0.5rem 1rem;
  list-style: none;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;

  &:hover {
    color: rgb(230, 196, 3);
    transition: 0.3s;
    cursor: pointer;
  }
}
.menubar {
  // display: none;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
}

#menu {
  display: none;
}
@media (max-width: 800px) {
  html {
    font-size: 65%;
  }
  #menu {
    display: block;
  }

  header .nav_list {
    position: absolute;
    top: 10%;
    left: -120%;
    width: 100%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 6000;
    //display: none;
  }
  header .nav_list.active {
    left: 0;
  }
  header .nav-items {
    padding: 1.3rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    // display: inline-block;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.269);
    z-index: 6000;
    &:hover {
      color: goldenrod;
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}
.section_one {
  grid-column: 1/-1;
  background-image: url(../img/wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  //display: grid;
  //grid-template-columns: repeat(6,1fr);

  z-index: 1000;
}

.slide {
  min-height: 80vh;
  display: flex;
  // margin: 0 20vw;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cap {
  align-self: center;
  justify-self: center;
  color: aliceblue;
  animation: slidecontent 0.3s linear 0.6s backwards;
  padding-bottom: 6rem;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1rem;
  &_img {
    width: 48.7vh;

    justify-self: center;
  }

  .offers {
    color: rgb(253, 246, 246);
    font-size: 2rem;
  }
  @keyframes slidecontent {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  }
  &_button {
    align-self: flex-end;
    color: azure;
    background-color: goldenrod;
    padding: 0.4rem 2rem;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 400;
    &:hover {
      background-color: rgb(243, 177, 11);
      cursor: pointer;
      transition: 0.2s;
    }
  }
  &-p {
    width: 30vw;
    text-align: start;
    padding-top: 0.5rem;
  }
}
.btn {
  margin-top: 3rem;
}
.image {
  // position: relative;
  transform: rotate(-360deg);
  padding-bottom: 6rem;
  position: relative;
  animation: capcontent 0.3s linear;
  align-items: center;
  justify-content: center;
}

@keyframes capcontent {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
}
#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 4rem;
  width: 4rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: black;
  background-color: goldenrod;
  cursor: pointer;
  text-align: center;
}

#prev:hover,
#next:hover {
  color: #fff;
}

#prev {
  left: 3rem;
}

#next {
  right: 3rem;
}
.slide-container {
  display: none;
}
.active {
  display: block;
}

@media (max-width: 800px) {
  .cap {
    padding-left: 1rem;
  }

  .image {
    // position: relative;
    transform: rotate(-360deg);
    padding-bottom: 20rem;
    position: absolute;
    top: 27%;
    animation: capcontent 0.3s linear;
  }
  .cap {
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 2rem;
  }
  .cap-p {
    width: 50vw;
    font-size: 1rem;
  }
  .offers {
    font-size: 1.6rem;
  }
  .btn {
    margin-top: 2rem;
  }
  .btn {
    margin-top: 2rem;
  }
  #prev {
    left: 1rem;
  }

  #next {
    right: 1rem;
  }
  #prev,
  #next {
    position: absolute;
    top: 60%;
  }
}
@media (max-width: 600px) {
  .cap_img {
    width: 30vh;
  }
  .image {
    // position: relative;

    top: 35%;
  }
  .cap-p {
    width: 60vw;
    font-size: 1rem;
  }
}
@media (max-width: 970px) {
  #prev {
    left: 0.5rem;
  }

  #next {
    right: 0.5rem;
  }
}

.section-2 {
  grid-column: 1/-1;
  padding: 8rem;
  background-color: aliceblue;
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 2rem 2rem;
  border: 2px solid rgb(196, 178, 39);
  width: 100%;
  background-color: rgba(232, 232, 232, 0.532);
}
.details {
  padding: 1.5rem;
  font-family: sans-serif;

  flex: 1 1 27rem;
  color: black;
  align-items: center;
  &-p {
    font-size: 1.2rem;
    width: fit-content;
    color: rgb(42, 36, 36);
  }
  &-heading {
    color: rgb(61, 61, 185);
    font-size: 1.8rem;
    padding-bottom: 0.6rem;
  }
}
.i2 {
  color: rgb(255, 183, 0);
  font-size: 3.4rem;
  padding-bottom: 1rem;
}
.products {
  grid-column: 1/-1;
  background-color: aliceblue;
  padding-top: 3rem;
  &-heading {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 3rem;
    text-transform: capitalize;
    color: rgb(229, 199, 67);
    font-family: cursive;
  }
}
.cap-img {
  //width: 100%;
  height: 20rem;
  width: 15rem;
  padding-top: 2rem;

  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
  // margin:8rem 2rem;
  &:hover {
    transform: scale(0.9);
    transition: 0.2s;
  }
}
.cap-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 5rem;
}
.cap-box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  flex: 1 1 30rem;
}

.icon {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 1.7rem;
  line-height: 4.5rem;
  text-decoration: none;
  border-bottom: none;
}
.ic {
  margin: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  &:hover {
    color: goldenrod;
  }
}

.i3 {
  height: 2.5rem;
  width: 3rem;
  line-height: 3.5rem;
  font-size: 2rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
  color: rgb(225, 241, 6);
}

.price {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.product {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.stars {
  padding-bottom: 1rem;
}
.btn-cart {
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid goldenrod;
  font-size: 1rem;
  padding: 1rem 2rem;
  color: black;
  cursor: pointer;
  &:hover {
    background-color: goldenrod;
    color: #f9f9f9;
  }
}
.products2 {
  padding-top: 15rem;
  background-color: aliceblue;
  grid-column: 1/-1;
}
.img2 {
  height: 12rem;
  transform: rotate(-15deg);

  &:hover {
    transform: rotate(3deg);
    transform: scale(1.5);
  }
}
.box2 {
  background-color: aliceblue;
  border: none;
}
.review {
  padding-top: 15rem;
  grid-column: 1/-1;
  background-color: aliceblue;
  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 0 5rem;
    // padding: 0 8rem;
  }
  &-box {
    flex: 1 1 30rem;
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #f9f9f9;
    padding: 2rem;
  }
}
.user {
  &-img {
    height: 12rem;
    width: 12rem;
    border-radius: 100px;
  }
  &-p {
    color: rgb(16, 16, 16);
    font-size: 1rem;

    font-family: cursive;
    font-weight: 500;
  }
  &-name {
    font-size: 1.5rem;
    color: goldenrod;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
  }
}
.footers {
  grid-column: 1/-1;
  padding-top: 10rem;
}

.box-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.box-f {
  flex: 1 1 20rem;
}

.h-f {
  font-size: 2rem;
  padding-top: 2rem;
  font-family: sans-serif;
  color: rgb(27, 14, 74);
  text-transform: capitalize;
  display: block;
}

.item-f {
  color: #666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
  padding-top: 1rem;
  border-bottom: none;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: goldenrod;
  }
}

.credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}
.cart-body {
  background-image: url(../img/pexels-karolina-grabowska-5632398.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: auto;
  width: 50%;
  right: 0;
  top: 10%;
  position: absolute;
  z-index: 1000000;
  display: block;
 // grid-row: 1/-1;
 // grid-column: 1/-1;
}
.cart-active {
  display: none;
}

.cart {
  &-details {
    padding-left: 3rem;
  }
  &-title {
    color: #000;
    font-size: 2rem;
    font-family: cursive;
    padding-right: 2rem;
    text-align: center;
    //margin: 0 auto;
    &-heading {
      color: black;
      font-size: 2rem;
      font-family: cursive;
      text-align: center;
    }
  }
  &-pic {
    height: 5rem;
    width: 5rem;
  }
  &-container {
    padding: 4rem 3rem;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &-box {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    align-items: center;
    border: 1px solid black;
    background-color: azure;
  }
  &-item {
    font-size: 1.5rem;
    color: goldenrod;
    font-family: sans-serif;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  &-price {
    font-size: 1rem;
    padding-bottom: 0.4rem;
  }
  &-quantity {
    width: 20%;
    padding: 0.2rem 0.2rem;
  }
}
.total {
  display: flex;
  border-top: 1px solid goldenrod;
  justify-content: space-between;

  font-size: 1.3rem;

  width: max-content;
  font-family: sans-serif;
  margin: 0 auto;

  z-index: 1000000;
  &-title {
    padding-right: 2rem;
  }
}
.delet {
  background-color: rgb(176, 4, 4);
  font-family: sans-serif;
  padding: 0.3rem 0.7rem;
  color: #f9f9f9;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(199, 7, 7);
  }
}

.btn-buy {
  text-decoration: none;
  border: none;
  align-self: flex-end;
  color: azure;
  background-color: goldenrod;
  padding: 0.2rem 2rem;
  font-size: 1rem;
  font-family: cursive;
  font-weight: 400;
  margin-left: 25%;
  z-index: 100000;

  &:hover {
    background-color: rgb(243, 177, 11);
    cursor: pointer;
    transition: 0.2s;
  }
}

@media (max-width: 970px) {
  .cart-body {
    width: 100%;
  }
}

.fav {
  &-body {
    background-image: url(../img/pexels-karolina-grabowska-5624985.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 40%;
    right: 0;
    padding: 2rem;
    top: 10%;
    height: auto;
position: absolute;
    z-index: 100000;
    display: block;
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
  &-remove {
    background-color: rgb(176, 4, 4);
    font-family: sans-serif;
    padding: 0.3rem 0.7rem;
    color: #f9f9f9;
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: rgb(199, 7, 7);
    }
  }
  &-img {
    width: 5rem;
    height: 7rem;
  }

  //margin: 0 auto;
  &-title-heading {
    color: rgb(232, 203, 11);
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
  }

  &-container {
    padding: 4rem 3rem;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &-box {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    align-items: center;
    border: 1px solid black;
    background-color: azure;
  }

  &-active {
    display: none;
  }
}
@media (max-width: 970px) {
  .fav-body {
    width: 100%;
  }
}
/*.slide{
  min-height: 100vh;
  display: flex;
 // margin: 0 20vw;
 justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.cap{

align-self: center;
justify-self: center;
color: aliceblue;
animation: slidecontent .3s linear .6s backwards;

&_img{
  width: 60vh;
//align-items: ;

 // justify-self: center;
}

.cart_container{
 // grid-column:2/4 ;
background-color: rgb(255, 255, 255);
width: 1vw;
margin:6rem auto;
padding: 4rem;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 20%;

}
@keyframes   slidecontent{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}
&_button{
align-self: flex-end;
    color: azure;
    background-color: goldenrod;
    padding: 0.4rem 2rem;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 400;
    &:hover{
      background-color: rgb(243, 177, 11);
      cursor: pointer;
      transition: .2s;
    }
}
&-p{
  width: 30vw;
text-align: start;
}
}
.btn{
margin-top: 3rem;
}
.image{
 // position: relative;
  transform: rotate(-360deg);
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
  animation: capcontent .3s linear;
}

@keyframes capcontent {
  0%{
    transform: rotate(0deg) scale(.5);
  }
}
 #prev,
 #next{
  position: absolute;
  top:50%; 
  transform:translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height:5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--black);
  border:.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

 #prev:hover,
 #next:hover{
  color:#fff;
  background:var(--orange);
}

 #prev{
  left:3rem;
}

 #next{
  right:3rem;
}
.slide-container{
  display: none;
}
.active{
  display: block;
}*/
