*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.4;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 80vh (min-content)[4];
      grid-template-rows: 10vh 80vh repeat(4, -webkit-min-content);
      grid-template-rows: 10vh 80vh repeat(4, min-content);
  -ms-grid-columns: (minmax(min-content, 25rem))[6];
      grid-template-columns: repeat(6, minmax(-webkit-min-content, 25rem));
      grid-template-columns: repeat(6, minmax(min-content, 25rem));
}

.headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(245, 245, 245, 0.658);
  grid-column: 1/-1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid goldenrod;
}

.title {
  font-size: 2rem;
  font-family: cursive;
  font-weight: 600;
  color: goldenrod;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-items {
  margin: 0 2.5rem;
  list-style: none;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.nav-items:hover {
  color: goldenrod;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
}

.i {
  margin: 0.5rem 1rem;
  list-style: none;
  font-size: 1.6rem;
  color: black;
  list-style: none;
  text-decoration: none;
}

.i:hover {
  color: #e6c403;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.menubar {
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
}

#menu {
  display: none;
}

@media (max-width: 800px) {
  html {
    font-size: 65%;
  }
  #menu {
    display: block;
  }
  header .nav_list {
    position: absolute;
    top: 10%;
    left: -120%;
    width: 100%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 6000;
  }
  header .nav_list.active {
    left: 0;
  }
  header .nav-items {
    padding: 1.3rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.269);
    z-index: 6000;
  }
  header .nav-items:hover {
    color: goldenrod;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}

.section_one {
  grid-column: 1/-1;
  background-image: url(../img/wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1000;
}

.slide {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: aliceblue;
  -webkit-animation: slidecontent 0.3s linear 0.6s backwards;
          animation: slidecontent 0.3s linear 0.6s backwards;
  padding-bottom: 6rem;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.cap_img {
  width: 48.7vh;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cap .offers {
  color: #fdf6f6;
  font-size: 2rem;
}

@-webkit-keyframes slidecontent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

@keyframes slidecontent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

.cap_button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: azure;
  background-color: goldenrod;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  font-family: cursive;
  font-weight: 400;
}

.cap_button:hover {
  background-color: #f3b10b;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cap-p {
  width: 30vw;
  text-align: start;
  padding-top: 0.5rem;
}

.btn {
  margin-top: 3rem;
}

.image {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  padding-bottom: 6rem;
  position: relative;
  -webkit-animation: capcontent 0.3s linear;
          animation: capcontent 0.3s linear;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes capcontent {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
}

@keyframes capcontent {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
}

#prev,
#next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 4rem;
  width: 4rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: black;
  background-color: goldenrod;
  cursor: pointer;
  text-align: center;
}

#prev:hover,
#next:hover {
  color: #fff;
}

#prev {
  left: 3rem;
}

#next {
  right: 3rem;
}

.slide-container {
  display: none;
}

.active {
  display: block;
}

@media (max-width: 800px) {
  .cap {
    padding-left: 1rem;
  }
  .image {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    padding-bottom: 20rem;
    position: absolute;
    top: 27%;
    -webkit-animation: capcontent 0.3s linear;
            animation: capcontent 0.3s linear;
  }
  .cap {
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: flex-start;
    padding-top: 2rem;
  }
  .cap-p {
    width: 50vw;
    font-size: 1rem;
  }
  .offers {
    font-size: 1.6rem;
  }
  .btn {
    margin-top: 2rem;
  }
  .btn {
    margin-top: 2rem;
  }
  #prev {
    left: 1rem;
  }
  #next {
    right: 1rem;
  }
  #prev,
  #next {
    position: absolute;
    top: 60%;
  }
}

@media (max-width: 600px) {
  .cap_img {
    width: 30vh;
  }
  .image {
    top: 35%;
  }
  .cap-p {
    width: 60vw;
    font-size: 1rem;
  }
}

@media (max-width: 970px) {
  #prev {
    left: 0.5rem;
  }
  #next {
    right: 0.5rem;
  }
}

.section-2 {
  grid-column: 1/-1;
  padding: 8rem;
  background-color: aliceblue;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  padding: 2rem 2rem;
  border: 2px solid #c4b227;
  width: 100%;
  background-color: rgba(232, 232, 232, 0.532);
}

.details {
  padding: 1.5rem;
  font-family: sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 27rem;
          flex: 1 1 27rem;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-p {
  font-size: 1.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #2a2424;
}

.details-heading {
  color: #3d3db9;
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
}

.i2 {
  color: #ffb700;
  font-size: 3.4rem;
  padding-bottom: 1rem;
}

.products {
  grid-column: 1/-1;
  background-color: aliceblue;
  padding-top: 3rem;
}

.products-heading {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 3rem;
  text-transform: capitalize;
  color: #e5c743;
  font-family: cursive;
}

.cap-img {
  height: 20rem;
  width: 15rem;
  padding-top: 2rem;
  -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
}

.cap-img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cap-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 5rem;
}

.cap-box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 1.7rem;
  line-height: 4.5rem;
  text-decoration: none;
  border-bottom: none;
}

.ic {
  margin: 1rem;
  text-decoration: none;
  color: black;
}

.ic:hover {
  color: goldenrod;
}

.i3 {
  height: 2.5rem;
  width: 3rem;
  line-height: 3.5rem;
  font-size: 2rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
  color: #e1f106;
}

.price {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.product {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.stars {
  padding-bottom: 1rem;
}

.btn-cart {
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid goldenrod;
  font-size: 1rem;
  padding: 1rem 2rem;
  color: black;
  cursor: pointer;
}

.btn-cart:hover {
  background-color: goldenrod;
  color: #f9f9f9;
}

.products2 {
  padding-top: 15rem;
  background-color: aliceblue;
  grid-column: 1/-1;
}

.img2 {
  height: 12rem;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.img2:hover {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.box2 {
  background-color: aliceblue;
  border: none;
}

.review {
  padding-top: 15rem;
  grid-column: 1/-1;
  background-color: aliceblue;
}

.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  padding: 0 5rem;
}

.review-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
}

.user-img {
  height: 12rem;
  width: 12rem;
  border-radius: 100px;
}

.user-p {
  color: #101010;
  font-size: 1rem;
  font-family: cursive;
  font-weight: 500;
}

.user-name {
  font-size: 1.5rem;
  color: goldenrod;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.footers {
  grid-column: 1/-1;
  padding-top: 10rem;
}

.box-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.box-f {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.h-f {
  font-size: 2rem;
  padding-top: 2rem;
  font-family: sans-serif;
  color: #1b0e4a;
  text-transform: capitalize;
  display: block;
}

.item-f {
  color: #666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
  padding-top: 1rem;
  border-bottom: none;
  text-decoration: none;
  cursor: pointer;
}

.item-f:hover {
  color: goldenrod;
}

.credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}

.cart-body {
  background-image: url(../img/pexels-karolina-grabowska-5632398.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: auto;
  width: 50%;
  right: 0;
  top: 10%;
  position: absolute;
  z-index: 1000000;
  display: block;
}

.cart-active {
  display: none;
}

.cart-details {
  padding-left: 3rem;
}

.cart-title {
  color: #000;
  font-size: 2rem;
  font-family: cursive;
  padding-right: 2rem;
  text-align: center;
}

.cart-title-heading {
  color: black;
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
}

.cart-pic {
  height: 5rem;
  width: 5rem;
}

.cart-container {
  padding: 4rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  background-color: azure;
}

.cart-item {
  font-size: 1.5rem;
  color: goldenrod;
  font-family: sans-serif;
  font-weight: 500;
  padding-bottom: 1rem;
}

.cart-price {
  font-size: 1rem;
  padding-bottom: 0.4rem;
}

.cart-quantity {
  width: 20%;
  padding: 0.2rem 0.2rem;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid goldenrod;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: sans-serif;
  margin: 0 auto;
  z-index: 1000000;
}

.total-title {
  padding-right: 2rem;
}

.delet {
  background-color: #b00404;
  font-family: sans-serif;
  padding: 0.3rem 0.7rem;
  color: #f9f9f9;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
}

.delet:hover {
  background-color: #c70707;
}

.btn-buy {
  text-decoration: none;
  border: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: azure;
  background-color: goldenrod;
  padding: 0.2rem 2rem;
  font-size: 1rem;
  font-family: cursive;
  font-weight: 400;
  margin-left: 25%;
  z-index: 100000;
}

.btn-buy:hover {
  background-color: #f3b10b;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 970px) {
  .cart-body {
    width: 100%;
  }
}

.fav-body {
  background-image: url(../img/pexels-karolina-grabowska-5624985.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 40%;
  right: 0;
  padding: 2rem;
  top: 10%;
  height: auto;
  position: absolute;
  z-index: 100000;
  display: block;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.fav-remove {
  background-color: #b00404;
  font-family: sans-serif;
  padding: 0.3rem 0.7rem;
  color: #f9f9f9;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
}

.fav-remove:hover {
  background-color: #c70707;
}

.fav-img {
  width: 5rem;
  height: 7rem;
}

.fav-title-heading {
  color: #e8cb0b;
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
}

.fav-container {
  padding: 4rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.fav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  background-color: azure;
}

.fav-active {
  display: none;
}

@media (max-width: 970px) {
  .fav-body {
    width: 100%;
  }
}

/*.slide{
  min-height: 100vh;
  display: flex;
 // margin: 0 20vw;
 justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.cap{

align-self: center;
justify-self: center;
color: aliceblue;
animation: slidecontent .3s linear .6s backwards;

&_img{
  width: 60vh;
//align-items: ;

 // justify-self: center;
}

.cart_container{
 // grid-column:2/4 ;
background-color: rgb(255, 255, 255);
width: 1vw;
margin:6rem auto;
padding: 4rem;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 20%;

}
@keyframes   slidecontent{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}
&_button{
align-self: flex-end;
    color: azure;
    background-color: goldenrod;
    padding: 0.4rem 2rem;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 400;
    &:hover{
      background-color: rgb(243, 177, 11);
      cursor: pointer;
      transition: .2s;
    }
}
&-p{
  width: 30vw;
text-align: start;
}
}
.btn{
margin-top: 3rem;
}
.image{
 // position: relative;
  transform: rotate(-360deg);
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
  animation: capcontent .3s linear;
}

@keyframes capcontent {
  0%{
    transform: rotate(0deg) scale(.5);
  }
}
 #prev,
 #next{
  position: absolute;
  top:50%; 
  transform:translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height:5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--black);
  border:.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

 #prev:hover,
 #next:hover{
  color:#fff;
  background:var(--orange);
}

 #prev{
  left:3rem;
}

 #next{
  right:3rem;
}
.slide-container{
  display: none;
}
.active{
  display: block;
}*/
/*# sourceMappingURL=main.css.map */