*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 70%;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

.container {
  display: grid;
 grid-template-rows: 10vh 60vh  repeat(4, min-content);
 grid-template-columns: repeat(6, minmax(min-content, 25rem));
}
.headers {
  display: flex;
  background-color: rgba(245, 245, 245, 0.658);
  grid-column: 1/-1;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid goldenrod;
}
.title {
  font-size: 2rem;
  font-family: cursive;
  font-weight: 600;
  color: goldenrod;
}
.nav {
  &_list {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  &-items {
    margin: 0 2.5rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: goldenrod;
    }
  }
}
.icons {
  display: flex;
  padding: 0 3rem;
}
.i {
  margin: 0.5rem 1rem;
  list-style: none;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;

  &:hover {
    color: rgb(230, 196, 3);
    transition: 0.3s;
    cursor: pointer;
  }
}
.menubar {
  // display: none;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
}

#menu {
  display: none;
}
@media (max-width: 800px) {
  html {
    font-size: 65%;
  }
  #menu {
    display: block;
  }

  header .nav_list {
    position: absolute;
    top: 10%;
    left: -120%;
    width: 100%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
z-index: 6000;
    //display: none;
  }
  header .nav_list.active {
    left: 0;
  }
  header .nav-items {
    padding: 1.3rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    // display: inline-block;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.269);
z-index: 6000;
    &:hover {
      color: goldenrod;
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}
.section_one {
  grid-column: 1/-1;
  background-image: url(../img/wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  //display: grid;
  //grid-template-columns: repeat(6,1fr);
  //position: relative;
  z-index: 1000;
}

.slide {
  min-height: 100vh;
  display: flex;
  // margin: 0 20vw;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cap {
  align-self: center;
  justify-self: center;
  color: aliceblue;
  animation: slidecontent 0.3s linear 0.6s backwards;
  padding-bottom: 20rem;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1rem;
  &_img {
    width: 48.7vh;

    justify-self: center;

  }

  .offers {
    color: rgb(253, 246, 246);
    font-size: 2rem;
  }
  @keyframes slidecontent {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  }
  &_button {
    align-self: flex-end;
    color: azure;
    background-color: goldenrod;
    padding: 0.4rem 2rem;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 400;
    &:hover {
      background-color: rgb(243, 177, 11);
      cursor: pointer;
      transition: 0.2s;
    }
  }
  &-p {
    width: 30vw;
    text-align: start;
    padding-top: 0.5rem;
  }
}
.btn {
  margin-top: 3rem;
}
.image {
  // position: relative;
  transform: rotate(-360deg);
  padding-bottom: 30rem;
  position: relative;
  animation: capcontent 0.3s linear;
  align-items: center;
  justify-content:center;
}

@keyframes capcontent {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
}
#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 4rem;
  width: 4rem;
  line-height: 4.5rem;
  font-size: 2rem;
 color: black;
 background-color: goldenrod;
  cursor: pointer;
  text-align: center;
}

#prev:hover,
#next:hover {
  color: #fff;
  

}

#prev {
  left: 3rem;
}

#next {
  right: 3rem;
}
.slide-container {
  display: none;
}
.active {
  display: block;
}

@media (max-width: 800px) {
  .cap {
    padding-left: 1rem;
  }

  .image {
    // position: relative;
    transform: rotate(-360deg);
    padding-bottom: 20rem;
    position: absolute;
    top: 27%;
    animation: capcontent 0.3s linear;
    
  }
  .cap {
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 2rem;
  }
  .cap-p{
    width: 50vw;
    font-size: 1rem;
  }
  .offers{
    font-size: 1.6rem;
  }
  .btn {
    margin-top: 2rem;
  }
  .btn {
    margin-top: 2rem;
  }
  #prev {
    left: 1rem;
  }
  
  #next {

    right: 1rem;
  }
  #prev,
#next {
  position: absolute;
  top: 60%;}

}
@media (max-width: 600px) {
  .cap_img{
width: 30vh;
  }
  .image {
    // position: relative;
  
    top: 35%;}
    .cap-p{
      width: 60vw;
      font-size: 1rem;
    }
}
@media (max-width: 970px) {
  #prev {
    left: .5rem;
  }
  
  #next {

    right: .5rem;
  }
  }

  .section-2{
    grid-column: 1/-1;
    padding: 8rem;
    background-color: aliceblue;
  }
.box{
  display: flex;
  flex-wrap: wrap;
gap: 2.5rem;
  padding: 2rem 2rem;
  border: 2px solid rgb(196, 178, 39);
 width: 100%;
 background-color: rgba(232, 232, 232, 0.532);

}
.details{
  padding: 1.5rem;
  font-family: sans-serif;

  flex:  1 1 27rem;
  color: black;
  align-items: center;
  &-p{
    font-size: 1.2rem;
    width: fit-content;
    color: rgb(42, 36, 36);
  }
  &-heading{
    color: rgb(61, 61, 185);
    font-size: 1.8rem;
    padding-bottom: .6rem;
  }
}
.i2{
  color:rgb(255, 183, 0);
  font-size: 3.4rem;
  padding-bottom: 1rem;
}
/*.slide{
  min-height: 100vh;
  display: flex;
 // margin: 0 20vw;
 justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.cap{

align-self: center;
justify-self: center;
color: aliceblue;
animation: slidecontent .3s linear .6s backwards;

&_img{
  width: 60vh;
//align-items: ;

 // justify-self: center;
}


@keyframes   slidecontent{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}
&_button{
align-self: flex-end;
    color: azure;
    background-color: goldenrod;
    padding: 0.4rem 2rem;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 400;
    &:hover{
      background-color: rgb(243, 177, 11);
      cursor: pointer;
      transition: .2s;
    }
}
&-p{
  width: 30vw;
text-align: start;
}
}
.btn{
margin-top: 3rem;
}
.image{
 // position: relative;
  transform: rotate(-360deg);
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
  animation: capcontent .3s linear;
}

@keyframes capcontent {
  0%{
    transform: rotate(0deg) scale(.5);
  }
}
 #prev,
 #next{
  position: absolute;
  top:50%; 
  transform:translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height:5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--black);
  border:.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

 #prev:hover,
 #next:hover{
  color:#fff;
  background:var(--orange);
}

 #prev{
  left:3rem;
}

 #next{
  right:3rem;
}
.slide-container{
  display: none;
}
.active{
  display: block;
}*/
